<style>
        *{
            font-family: "맑은 고딕", Arial, Helvetica, sans-serif;
            line-height: 150%;
        }
        header h1{
            display: inline;
            font-size: 1.2em;
        }
        ul{
            list-style-type: none;
        }
        a{
            text-decoration: none;
        }
        nav ul{
            border-top: 2px solid #c0ca33;
            border-bottom: 2px solid #c0ca33;
            padding: 15px 20px;
            text-align: center;
        }
        nav ul li{
            display: inline;
            padding: 15px 20px;
            letter-spacing: 5px;
        }
        nav ul li:hover{
            background-color: #c0ca33;
        }
        .photo > img{
            padding-top: 50px;
            display: block;
            margin: 0 auto;
            width: 50%;
        }
        table th{
            background-color: #c0ca33;
        }
        table{
            width: 90%;
            margin: 0 auto;
            font-size: 1.2em;
        }
        .right{
            margin-top: 30px;
        }
        body{
            margin: 0 auto;
            max-width: 80vw;
            background-color: azure;
        }
        header, footer{
            height: 100px;
            font-size: 1.4em;
        }
        nav{
            height: 50px;
        }
        section{
            display: flex;
        }
        .content{
            flex : 4;
        }
        aside{
            flex: 1;
        }
        footer{
            background-color: darkgray;
            color: whitesmoke;
            text-align: center;
        }
    </style>